[project]
name = "funix"
version = "0.3.2"
authors = [
  {name = "Textea Inc.", email = "bao@textea.co"}
]
license = {file = "LICENSE"}
description = "Building web apps without manually creating widgets"
requires-python = ">=3.8"
classifiers = [
  "Development Status :: 4 - Beta",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Operating System :: OS Independent",
  "Framework :: Flask",
  "Framework :: Matplotlib"
]
dependencies = [
  "flask>=2.2.2",
  "flask_cors>=3.0.10",
  "functions-framework==3.*",
  "pyyaml>5.1",
  "requests>=2.28.1",
  "matplotlib>=3.6.1",
  "mpld3>=0.5.8",
  "json5>=0.9.10"
]

[project.urls]
homepage = "https://github.com/TexteaInc/funix"

[tool.setuptools.packages.find]
where = ["backend"]
