[project]
name = "funix"
version = "0.2.1"
requires-python = ">=3.8"
dependencies = [
  "flask",
  "flask_cors",
  "functions-framework==3.*",
  "pyyaml>5.1",
  "requests",
  "matplotlib>=3.6.1",
  "mpld3>=0.5.8",
  "json5>=0.9.10"
]

[tool.setuptools.packages.find]
where = ["backend"]
