[project]
name = "pydatafront"
version = "0.0.2"
requires-python = ">=3.8"
dependencies = [
  "flask",
  "flask_cors",
  "functions-framework==3.*"
]

[tool.setuptools.packages.find]
where = ["backend"]
